# Python
__pycache__/
*.pyc
*.pyo
.env

# Jupyter
.ipynb_checkpoints/

# Virtual env
venv/
.venv/

# API keys / secrets
*.env
.env*

# OS
.DS_Store
Thumbs.db

# Data (large files)
*.csv
*.parquet
*.pkl
datasets/*
!datasets/README.md
